/* Main */
#main{
    display: grid;
    height: 80vh;
    grid-template-columns: repeat(2,1fr);
}

#LigneList,#LigneDetails{
    margin: 1em;
    /* overflow: hidden; */
    /* border: solid gray 5px; */
    /* border-radius: 50px; */
}

.Ligne{
    background-color: whitesmoke;
    border-top: solid lightgray 1px;
    display: grid;
    grid-template-columns: 0.2fr 1fr 3fr;
    position: relative;;
}
.Ligne:first-of-type{border-top: none;}
.LigneListId{
    display: flex;
    justify-content: center;
    align-items: center;
}
.LigneListCode{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    height: 100%;
    width: 100%;
}
.LigneListDest{
    margin-left: 0.5em ;
}
.LigneListBtns{
    position: absolute;
    right: 0;
    top: 25%; 
}
